* {
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  text-align: center;
  width: 300px;
  margin: 0 auto;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 25px;
}

.result {
  top: 150px;
  font-family: monospace;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  color: red;
}

.score {
  top: 200px;
  font-family: monospace;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  color: blue;
}

input {
  height: 30px;
  width: 80px;
  margin: 0 10px;
}